@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
}

.glass {
  @apply bg-white/5 backdrop-blur-md border border-white/10;
}

@keyframes blink {
  0%,
  100% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.8;
  }
}

.animate-blink {
  animation: blink 2s infinite ease-in-out;
}

@keyframes shooting-star {
  0% {
    transform: translate(0, 0) rotate(-45deg);
    opacity: 1;
  }
  70% {
    opacity: 0.8;
  }
  100% {
    transform: translate(-800px, 800px) rotate(-45deg);
    opacity: 0;
  }
}

.animate-shooting-star {
  animation: shooting-star 1.5s ease-out infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradientMove {
  animation: gradientMove 4s linear infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

.animate-gradient {
  background-size: 600% 600%;
  animation: gradientMove 5s linear infinite;
}
